@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Indie+Flower&display=swap');

body{
    width: 100%;
    margin: 0;
    background-image: url(/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#header{
    display: flex;
    align-items: center;
    background: #D1ADB9;
    padding: 20px 50px;
    font-family: 'Comfortaa', cursive;
    justify-content: space-between;

}

#header div{
    display: flex;
    gap: 20px;
}

#header h1{
    font-size: 25px;
}


#header a, #header a:visited{
    color: black;
}

#quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#quote-container #generate-random-quote{
    width: 200px;
    margin: 50px;
    margin-bottom: 10px;
    background: #85758F;
    border: none;
    border-radius: 4px;
    padding: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}

#quote-container p{
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    padding: 0 100px;
}

#footer{
    background-color: #997D93;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;

}
